[submodule "cereal"]
	path = cereal
	url = https://github.com/commaai/cereal.git
[submodule "go-capnproto2"]
	path = go-capnproto2
	url = https://github.com/capnproto/go-capnproto2.git
[submodule "go-astiav"]
	path = go-astiav
	url = https://github.com/kfatehi/go-astiav.git
[submodule "signaling"]
	path = signaling
	url = git@github.com:secureput/signaling.git
[submodule "pion/webrtc"]
	path = pion/webrtc
	url = https://github.com/pion/webrtc.git
[submodule "pion/rtp"]
	path = pion/rtp
	url = https://github.com/pion/rtp.git
