[Unit]
Description=Body WebRTC Server
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=body
WorkingDirectory=/home/body/webrtc-body
ExecStart=/home/body/webrtc-body/server.py

[Install]
WantedBy=multi-user.target
